.vc-lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

#vc-player {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: black;
}

#vc-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10003;
}

#vc-play-btn {
  font-size: 50px;
  color: white;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50%;
  padding: 20px;
  pointer-events: all;
  z-index: 10004;
}

#vc-play-btn:hover {
  transform: scale(1.15);
}

#vc-close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 40px;
  background: red;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10005;
}

#vc-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 10004;
}

#vc-progress-container {
  flex-grow: 1;
  height: 5px;
  background: #444;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

#vc-progress-bar {
  height: 100%;
  width: 0%;
  background: #3b82f6;
  border-radius: 3px;
}

.vc-video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
}